.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292b2f;
  padding: 0 2rem;
}
.text {
  color: #ffffff;
  font-size: 16px;
}

.org {
  font-size: 32px;
  font-weight: bold;
}
.site_name {
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}
