.container{
    position: absolute;
    width: 500px;
    height: 593px;
    margin-left:500px;
}
.title{
    position: absolute;
    width: 254px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}